<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anujdawar.client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_all_inclusive_white_48dp"
        android:label="All Inclusive"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.example.anujdawar.client.firstActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.anujdawar.client.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".DevicesActivity">
            <intent-filter>
                <action android:name="com.example.anujdawar.client.Devices_Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AddCommandIntentClass">
            <intent-filter>
                <action android:name="com.example.anujdawar.client.addCommandIntentClass" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SavedCommandsActivity">
            <intent-filter>
                <action android:name="com.example.anujdawar.client.saved_commands_activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service android:name=".MyService"
            android:exported="false">
        </service>

    </application>

</manifest>